@model CrudApp1.Models.Viewmodels.CreateProdVm
@{
    ViewData["Title"] = "Create";
}



<div class="container">

    <h2 class="text-center p-5 bg-dark text-light">Create Product</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div class="row mb-3">
                    <label class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="name" asp-for="Name" />
                    @* add validations *@
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
            
           
                <div class="row mb-3">
                    <label class="form-label">Unit Price</label>
                    <input type="number" class="form-control" id="price" asp-for="UnitPrice" />
                    <span class="text-danger" asp-validation-for="UnitPrice"></span>
                </div>
            
                <div class="row mb-3">
                    <label class="form-label">In Stock</label>
                    <input type="number" class="form-control" id="instock" asp-for="UnitInStock" />
                    <span class="text-danger" asp-validation-for="UnitInStock"></span>
                </div>
                
                <div class="row mb-3">
                    
                    <input type="submit" class="btn btn-primary" value="Create"  />
                </div>
            </div>
            <div class="col ms-5">
                <label class="form-label"> Product Image</label>
                <div class="imagebox">
                    <img src="@Url.Content("~/Images/imgUpload.png")" alt="Alternate Text" />
                    <input type="file" asp-for="ImageUrl" />
                </div>
            </div>

        </div>
    </form>

</div>


